<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-inner">
                <div class="header__top-logo">
                    <a href="#"><img src="img/logo.png" alt=""></a>
                </div>
                <div class="header__top-btn">
                    <a class="header__top-link" href="#">Become a Seller</a>
                </div>
                <div class="header__top-notification notification-top ">
                    <div class="notification-top__box lnr lnr-alarm">
                        <span class="notification-top__circle circle-alarm">25</span>
                    </div>
                    <div class="notification-top__box lnr lnr-envelope">
                        <span class="notification-top__circle circle-envelope">6</span>
                    </div>
                    <div class="notification-top__box lnr lnr-cart">
                        <span class="notification-top__circle circle-cart">2</span>
                        <div class="circle-cart__dropdown dropdown">
                            <div class="circle-cart__item">
                                <div class="circle-cart__product">
                                    <div class="circle-cart__img">
                                        <img src="img/icon/cart-1.jpg" alt="">
                                    </div>
                                    <div class="circle-cart__info">
                                        <a href="#">
                                            <div class="circle-cart__title">
                                                Finance and Consulting
                                                Business Theme
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="circle-cart__theme">Wordpress</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="circle-cart__action">
                                    <a class="circle-cart__trash" href="">
                                        <span class="lnr lnr-trash"></span>
                                    </a>
                                    <p>
                                        $60
                                    </p>
                                </div>
                            </div>
                            <div class="circle-cart__item">
                                <div class="circle-cart__product">
                                    <div class="circle-cart__img">
                                        <img src="img/icon/cart-1.jpg" alt="">
                                    </div>
                                    <div class="circle-cart__info">
                                        <a href="#">
                                            <div class="circle-cart__title">
                                                Finance and Consulting
                                                Business Theme
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="circle-cart__theme">Wordpress</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="circle-cart__action">
                                    <a class="circle-cart__trash" href="">
                                        <span class="lnr lnr-trash"></span>
                                    </a>
                                    <p>
                                        $60
                                    </p>
                                </div>
                            </div>
                            <div class="circle-cart__total">
                                Total :<span>$80</span>
                            </div>
                            <div class="circle-cart__btn">
                                <a class="cart" href="#">Go to Cart</a>
                                <a class="checkout" href="#">Go to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__top-author author-top">
                    <div class="author-top__avatar">
                        <a href="#"><img src="img/profile.jpg" alt=""></a>
                    </div>
                    <div class="author-top__info">
                        <div class="author-top__name">Taofiq Hakim</div>
                        <div class="author-top__money">$20.45</div>
                    </div>
                    <ul class="author-top__dropdown dropdown">
                        <li><a href="#"><span class="lnr lnr-user"></span>Profile Page</a></li>
                        <li><a href="#"><span class="lnr lnr-home"></span>Dashboard</a></li>
                        <li><a href="#"><span class="lnr lnr-cog"></span>Account Settings</a></li>
                        <li><a href="#"><span class="lnr lnr-cart"></span>Your Purchases</a></li>
                        <li><a href="#"><span class="lnr lnr-heart"></span>Your Favorites</a></li>
                        <li><a href="#"><span class="lnr lnr-dice"></span>Add Credits</a></li>
                        <li><a href="#"><span class="lnr lnr-chart-bars"></span>Sales Statements</a></li>
                        <li><a href="#"><span class="lnr lnr-upload"></span>Upload Item</a></li>
                        <li><a href="#"><span class="lnr lnr-book"></span>Edit Item</a></li>
                        <li><a href="#"><span class="lnr lnr-briefcase"></span>Withdrawals</a></li>
                        <li><a href="#"><span class="lnr lnr-exit"></span>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="header__bottom-inner">
                <nav class="header__bottom-menu">
                    <menu class="header__bottom-list">
                        <li><a href="#">home</a></li>
                        <li><a href="#">all products</a></li>
                        <li><a href="#">wordpress</a></li>
                        <li><a href="#">festures</a></li>
                        <li><a href="#">pages</a></li>
                    </menu>
                </nav>
                <div class="header__bottom-search">
                    <form>
                        <input type="text" placeholder="Search product here...">
                        <button type="submit"><span class="lnr lnr-magnifier"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>