//HEADER--TOP========================================================================================
.header {
  &__top {
    background-color: #eef1f3;
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
  }

  &__top-logo {
    margin-left: 7px;
    width: 207px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
    }
  }

  &__top-btn {
    margin-left: auto;
    margin-bottom: 4px;
  }

  &__top-link {
    display: inline-block;
    color: #ffffff;
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 36px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    background-color: $blue;
    padding: 0 18px;
    transition: all 0.3s;
    &:hover {
      background: #7347c1;
    }
  }
}

.notification-top {
  margin-left: 50px;
  display: flex;
  margin-bottom: 4px;
  &__box + .notification-top__box {
    margin-left: 30px;
  }
  &__box {
    position: relative;
  }

  &__circle {
    position: absolute;
    top: 25px;
    left: 15px;
    color: #ffffff;
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    border-radius: 50%;
    height: 22px;
    min-width: 22px;
    padding: 0 4px;
  }
}
.lnr {
  color: #7e8fa1;
  font-size: 20px;
  font-weight: 400;
  padding: 38px 0;
}

.lnr-cart {
  position: relative;
  cursor: pointer;
  &:hover {
    .circle-cart__dropdown {
      top: 100px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.circle-alarm {
  background-color: #ff6a6c;
  left: 10px;
}

.lnr-alarm {
  position: relative;
  &::before {
    cursor: pointer;
  }
  /*   cursor: pointer; */
  &:hover {
    .alarm__dropdown {
      opacity: 1;
      visibility: visible;
      top: 100px;
    }
  }
}

.alarm {
  // .alarm__dropdown

  &__dropdown {
    position: absolute;
    width: 370px;
    top: 105px;
    left: -27px;
    transition: all 0.4s;
    padding: 0 26px 0 23px;
    opacity: 0;
    visibility: hidden;
    &::before {
      left: 29px;
    }
  }

  // .alarm__item

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 21px 0 19px 2px;
    border-top: 1px solid #e8ebf0;
    .lnr {
      position: absolute;
      right: 0;
    }
    .lnr-heart {
      color: $blue;
      font-size: 15px;
      font-weight: 400;
      background-color: rgba(6, 117, 235, 0.1);
      border-radius: 50%;
      padding: 10px;
    }
    .lnr-bubble {
      color: #7347c1;
      font-size: 15px;
      font-weight: normal;
      background-color: rgba(116, 71, 193, 0.1);
      border-radius: 50%;
      padding: 10px;
    }
    .lnr-cart {
      color: #ff6a6c;
      font-size: 15px;
      font-weight: normal;
      background-color: rgba(255, 106, 109, 0.1);
      border-radius: 50%;
      padding: 10px;
    }
    .lnr-star {
      color: #62d03a;
      font-size: 15px;
      font-weight: normal;
      background-color: rgba(98, 208, 58, 0.1);
      border-radius: 50%;
      padding: 10px;
    }
  }

  // .alarm__img

  &__img {
    margin: -10px 0 0 0;
    img {
      width: 40px;
      height: 40px;
    }
  }

  // .alarm__content

  &__content {
    margin-left: 13px;
    a {
      font-size: 15px;
      color: $blue;
      font-family: Quicksand, sans-serif;
      font-weight: normal;
    }
  }

  // .alarm__title

  &__title {
    color: #747a86;
    font-size: 16px;
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    span {
      color: #333333;
      font-size: 16px;
      font-family: Quicksand, sans-serif;
      font-weight: 500;
    }
  }
}

.alarm-dropdown {
  // .alarm-dropdown__info

  // .alarm-dropdown__title

  &__title {
    font-size: 18px;
    color: #000;
    font-family: Quicksand, sans-serif;
    font-weight: normal;
  }

  // .alarm-dropdown__time

  &__time {
    color: #747a86;
    font-size: 14px;
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    padding-top: 9px;
  }
}

.circle-envelope {
  background-color: #62d03b;
}

.lnr-envelope {
  position: relative;
  cursor: pointer;
  &:hover {
    .message__dropdown {
      top: 100px;
      opacity: 1;
      visibility: visible;
    }
  }
}

.message {
  // .message__dropdown

  &__dropdown {
    position: absolute;
    width: 370px;
    top: 105px;
    right: -25px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    &::before {
      right: 27px;
    }
  }
}
.message-dropdown {
  // .message-dropdown__info
  &__info {
    padding-left: 26px;
    padding-right: 22px;
  }
  // .message-dropdown__title

  &__title {
    font-size: 18px;
    color: black;
    font-family: Quicksand, sans-serif;
    font-weight: normal;
  }

  // .message-dropdown__item

  &__item {
    display: flex;
    padding: 21px 26px 18px 25px;
    border-top: 1px solid #e8ebf0;
    transition: all 0.5s;
    &:hover {
      background: rgba(6, 116, 236, 0.05);
    }
  }

  // .message-dropdown__img

  &__img {
    border-radius: 50%;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 0 0 4px 0;
    }
  }

  // .message-dropdown__content

  &__content {
    margin-left: 15px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 265px;
    align-items: center;
    margin: -7px 0px 10px 0px;
  }

  // .message-dropdown__text

  &__text {
    color: #333333;
    font-size: 16px;
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    padding-right: 32px;
    position: relative;
    .lnr-envelope {
      color: #0674ec;
      font-size: 15px;
      font-weight: 400;
      line-height: 26px;
      margin-left: 10px;
    }
  }
  &__replay::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 16px;
    height: 12px;
    background-image: url(../img/icon/Reply.png);
  }

  // .message-dropdown__now

  &__time {
    color: $blue;
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    font-size: 14px;
  }
  &__subtitle {
    color: #555555;
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    font-size: 15px;
  }
}
.circle-cart {
  background-color: $blue;
  // .circle-cart__dropdown

  &__dropdown {
    width: 400px;
    top: 105px;
    right: -43px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    &::before {
      right: 40px;
    }
  }

  // .circle-cart__item

  &__item {
    display: flex;
    align-items: center;
    padding: 25px;
    border-bottom: 1px solid #e8ebf0;
    &:hover {
      background: rgba(6, 116, 236, 0.05);
    }
  }

  // .circle-cart__product

  &__product {
    display: flex;
  }

  // .circle-cart__img

  &__img {
    margin-right: 15px;
    img {
      width: 80px;
      height: 70px;
      object-position: center;
      object-fit: cover;
    }
  }

  // .circle-cart__info

  &__info {
    display: block;
  }

  // .circle-cart__title

  &__title {
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-bottom: 24px;
  }

  // .circle-cart__theme

  &__theme {
    color: #7347c1;
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    font-size: 15px;
    padding-left: 21px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(../img/icon/wordpress.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 16px;
      height: 16px;
    }
  }

  // .circle-cart__action

  &__action {
    display: flex;
    flex-direction: column;
    min-height: 70px;
    align-items: center;
    p {
      font-family: Quicksand, sans-serif;
      font-weight: 500;
      font-size: 16px;
      height: 16px;
      color: $blue;
      border-radius: 15px;
      background-color: rgba(6, 116, 234, 0.1);
      padding: 14px 10px;
      line-height: 0;
    }
  }

  // .circle-cart__trash

  &__trash {
    flex: 1 1 auto;
  }

  // .circle-cart__total

  &__total {
    padding: 27px 23px;
    text-align: end;
    vertical-align: middle;
    color: black;
    font-size: 18px;
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    transition: all 0.3s;
    &:hover {
      background: rgba(6, 116, 236, 0.05);
    }
    span {
      margin-left: 30px;
    }
  }

  // .circle-cart__btn

  &__btn {
    display: flex;
    a {
      display: block;
      color: #fefefe;
      font-size: 15px;
      font-family: Quicksand, sans-serif;
      font-weight: normal;
      line-height: 60px;
      width: 50%;
    }
  }
}

.lnr-trash {
  color: #818c98;
  font-size: 15px;
  font-weight: 400;
  background-color: rgba(115, 70, 192, 0.1);
  padding: 9px;
  border-radius: 50%;
  &:hover {
    background: #ff6a6d;
    color: white;
  }
}
.cart {
  border-radius: 0 0 0 3px;
  background-color: #7347c1;
  padding: 0 64px;
  transition: all 0.3s;
  &:hover {
    background-color: #623da1;
  }
}
.checkout {
  border-radius: 0 0 3px;
  background-color: $blue;
  padding: 0 44px;
  transition: all 0.3s;
  &:hover {
    background-color: #0957aa;
  }
}

.author-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 48px;
  padding: 25px 0;
  &__avatar {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__info {
    margin-left: 22px;
  }

  &__name {
    color: #333333;
    font-size: 16px;
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    margin-bottom: 7px;
  }

  &__money {
    color: $blue;
    font-size: 15px;
    font-family: Quicksand, sans-serif;
    font-weight: normal;
  }
  &__dropdown {
    top: 105px;
    right: 0;
    width: 270px;
    padding: 20px 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
    li {
      margin-top: -1px;
    }
    .lnr {
      margin-right: 15px;
      color: #54667a;
      font-size: 15px;
      font-weight: 400;
      line-height: 44px;
      transition: all 0.3s;
    }
    a {
      display: block;
      color: #54667a;
      font-size: 15px;
      font-family: Quicksand, sans-serif;
      font-weight: normal;
      line-height: 44px;
      padding-left: 11px;
      transition: all 0.3s;
    }
    & a:hover {
      color: white;
      background-color: $blue;
      border-radius: 2px;
      padding-left: 11px;
      .lnr {
        color: white;
      }
    }
  }

  &__dropdown::before {
    content: "";
    position: absolute;
    top: -11px;
    right: 27px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 10px 9px;
    border-color: transparent transparent $blue transparent;
  }
}

.dropdown {
  position: absolute;
  z-index: 2;
  box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
  border-radius: 0 0 3px 3px;
  background-color: #ffffff;
  border-top: 1px solid $blue;
  transition: all 0.4s;
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 10px 9px;
    border-color: transparent transparent $blue transparent;
  }
}

.author-top:hover {
  cursor: pointer;
  .author-top__dropdown {
    top: 100%;
    right: 0;
    width: 270px;
    opacity: 1;
    visibility: visible;
  }
}

.dropdown__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 22px;
  a {
    font-family: Quicksand, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #0674ec;
  }
}
//MOBILE_BTN=============================================================

.user {
  // .user__btn

  &__btn {
    position: absolute;
    top: 0;
    right: 15px;
    display: block;
    background: #0673ec;
    padding: 0 20px;
    line-height: 60px;
    color: white;
    display: none;
    font-size: 16px;
    cursor: pointer;
  }
}
//MOBILE--LIST==============================================
.mobile-list {
  position: fixed;
  height: 100%;
  width: 220px;
  overflow-y: scroll;
  top: 0;
  right: -100%;
  transition: all 0.5s;
  background: #fff;
  z-index: 50;
  transition: 0.3s ease;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.3);
  padding-bottom: 25px;
  .author-top {
    position: relative;
    justify-content: start;
    background-color: #eff1f5;
    text-align: center;
    border-bottom: 1px solid #ececec;
    padding: 25px 35px;
    margin: 0;
    &__info {
      margin-left: 10px;
    }
  }
  .author-top__avatar {
    width: 40px;
    height: 40px;
  }
  .author-top__name {
    font-size: 13px;
  }
  .lnr-cross {
    position: absolute;
    top: -30px;
    left: 10px;
    z-index: 51;
    font-size: 15px;
    cursor: pointer;
  }
  .header__top-notification {
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  .lnr-envelope {
    margin: 0 30px;
  }
  .author-top__dropdown {
    position: relative;
    top: 0;
    box-shadow: none;
    border-radius: 0 0 0px 0px;
    background-color: #ffffff;
    border-top: 1px solid $blue;
    transition: all 0.4s;
    opacity: 1;
    visibility: visible;
    width: 100%;
    &::before {
      content: "";
      visibility: hidden;
    }
  }
  .header__top-btn {
    text-align: center;
  }
}

.mobile-list.active {
  right: 0;
}

//HEADER--Bottom============================================================
.header {
  &__bottom {
    margin: 0 0 2px 2px;
    position: relative;
  }

  // .header__btn-mobile
  //Mobile-menu=====================

  .menuToggle {
    overflow: hidden;
    position: absolute;
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;

  }

  .menuToggle input {
    display: flex;
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide input */
    z-index: 1; /* top of the menu */
  }

  .menuToggle span {
    width: 25px;
    height: 4px;
    margin-bottom: 5px;
    background: #333;
    border-radius: 4px;
    transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  }

  .span1 {
    transform-origin: 4px 0px;
  }

  .span3 {
    transform-origin: bottom right;
  }

  .menuToggle input:checked ~ .span1 {
    background-color: #333;
    transform: rotate(45deg) translate(5px);
  }
  .menuToggle input:checked ~ .span2 {
    background-color: #333;
    transform: rotate(495deg) translate(1px);
  }
  .menuToggle input:checked ~ .span3 {
    background-color: #333;
    transform: rotate(45deg);
    opacity: 0;
  }
  //Mobile-menu-END=====================
  //HEADER_BUTTOM-LIST===============================================================

  .accordion-menu {
    position: fixed;
    top: 2px;
    left: -120%;
    width: 100%;
    max-width: 320px;
    height: 100%;
    min-height: 100%;
    margin: 60px auto 20px;
    background: #fff;
    border-radius: 4px;
    border-top: 1px solid #0674ec;
    box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
    border-radius: 0 0 3px 3px;
    background-color: #fff;
    overflow-y: auto;
    transition: all 0.3s;
  }
  .accordion-menu.active {
    left: 0;
  }


  .accordion-menu li.open .dropdownlink {
    color: #000000;
    .fa-chevron-down {
      transform: rotate(180deg);
    }
  }
  .accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
  }
  .dropdownlink {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 90px;
    font-size: 15px;
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    color: #212121;
    position: relative;
    transition: all 0.4s ease-out;
    text-transform: uppercase;
    i {
      position: absolute;
      top: 17px;
      left: 16px;
    }
    .fa-chevron-down {
      right: 12px;
      left: auto;
    }
  }

  .submenu__inner {
    display: flex;
  }

  .submenuItems {
    display: none;
    background: #c8e6c9;
    li {
      padding: 0 20px;
      background-color: white;
    }
    span {
      display: block;
      color: #000;
      font-size: 16px;
      font-family: Quicksand, sans-serif;
      font-weight: 700;
      text-decoration: underline;
      margin-left: -40px;
      &:hover {
        margin-left: -40px;
      }
    }
    .end-menu {
      padding-bottom: 100px;
    }
  }

  .submenuItems a {
    display: block;
    color: #727272;
    padding: 12px 12px 12px 85px;
    transition: all 0.4s ease-out;
    background-color: #ffffff;
    &:hover {
      background-color: #0674ec;
      border-radius: 2px;
      padding: 12px 12px 12px 85px;
      color: #fff;
    }
  }
  //END-HEADER_BUTTOM-LIST=========================================================

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  &__bottom-list {
    display: flex;
    > li {
      padding: 17px 0;
    }
    > li + li {
      margin-left: 33px;
    }
    a {
      color: #333333;
      font-family: Quicksand, sans-serif;
      font-weight: 500;
      font-size: 15px;
      text-transform: uppercase;
      transition: all 0.3s;
      &:hover {
        color: $blue;
      }
    }
  }
  .header__bottom-link {
    display: block;
    position: relative;
    z-index: 5;
    &:hover {
      .header__bottom-home,
      .header__bottom-all,
      .header__bottom-wordpress,
      .pages {
        top: 67px;
        opacity: 1;
        visibility: visible;
      }
      .header__bottom-wordpress {
        left: -218px;
      }
    }
  }

  .dropdown-bottom {
    position: absolute;
    top: 0;
    left: 0;
    border-top: 1px solid $blue;
    box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
    border-radius: 0 0 3px 3px;
    background-color: white;
    a {
      display: inline-block;
      color: #54667a;
      font-size: 15px;
      font-family: Quicksand, sans-serif;
      font-weight: normal;
      text-transform: capitalize;
      width: 100%;
      padding: 15px 0 15px 10px;
      &:hover {
        background-color: $blue;
        border-radius: 2px;
        padding: 15px 0 15px 10px;
        color: white;
      }
    }
  }

  .header__bottom-home,
  .header__bottom-all {
    top: 72px;
    width: 270px;
    padding: 10px 20px 35px 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }

  .header__bottom-wordpress {
    top: 72px;
    left: -218px;
    width: 270px;
    padding: 10px 20px 35px 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }

  .pages {
    position: absolute;
    max-width: 1140px;
    top: 72px;
    left: -448px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;

    // .pages__inner

    &__inner {
      display: flex;
      width: 100%;
      box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
      border-radius: 0 0 3px 3px;
      background-color: #ffffff;
      padding: 30px 6px;
      border-top: 1px solid blue;
    }

    // .pages__colum

    &__colum {
      padding: 0 21px;
    }

    // .pages__title

    &__title {
      padding-bottom: 18px;
      border-bottom: 1px solid #e8ebf0;
      color: #000000;
                font-size: 16px;
      font-family: Quicksand, sans-serif;
      font-weight: 500;
    }

    // .pages__content

    &__content {
      display: flex;
      justify-content: space-between;
    }

    // .pages__list

    &__list {
      width: 170px;
      padding: 18px 0 0 1px;
      margin-right: 35px;
      a {
        font-family: Quicksand, sans-serif;
        font-weight: normal;
        font-size: 15px;
        color: #54667a;
        line-height: 42px;
        text-transform: capitalize;
        &:hover {
          color: $blue;
          text-decoration: underline;
        }
      }
    }
  }

  &__bottom-search {
    position: relative;
    margin-bottom: 5px;
    input,
    input::placeholder {
      color: #898f96;
      font-family: Quicksand, sans-serif;
      font-weight: normal;
      font-size: 15px;
      line-height: 30px;
      padding: 0 82px 0 12px;
    }
    input {
      width: 360px;
      height: 46px;
      border-radius: 23px;
      border: 1px solid #d9dfe5;
    }
    button {
      position: absolute;
      top: 0;
      right: 1px;
      width: 70px;
      height: 46px;
      border-radius: 23px;
      background-color: $blue;
      border: none;
      cursor: pointer;
    }
  }
  .lnr-magnifier {
    width: 16px;
    height: 16px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
  }
}


