@import "vars";
@import "fonts";
@import "global";

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
//HEADER
//=============================================================================================================
//HEADER=======================================================================================================
@import "header";
//MARKETPLACE==================================================================================================
.marketplace {
  margin-bottom: 186px;
}
.marketplace__inner {
  max-height: 726px;
  height: 100%;
}

.marketplace__img {
  position: relatiave;
  height: 726px;
}
.marketplace__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.marketplace__title {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #f3f3f8;
  font-family: Quicksand;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 38px;
  span {
    display: block;
    font-family: "Quicksand";
    font-weight: 700;
  }
}
.marketplace__text {
  color: #f3f3f8;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 68px;
}
.marketplace__buttons {
  a {
    display: inline-block;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    border: 1px solid #ffffff;
    padding: 0 32px;
    transition: all 0.3s;
    margin-left: 25px;
    &:hover {
      background-color: white;
      color: $blue;
    }
  }
}

//SERVICES==================================================================================================
.services {
  margin-bottom: 121px;

  // .services__inner

  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 -20px;
  }

  // .services__seartch

  &__seartch {
    position: absolute;
    top: -250px;
    max-width: 1140px;
    width: 100%;
    height: 135px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    background-color: #ffffff;
    z-index: 5;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 135px;
      border-radius: 6px;
      background-color: #ffffff;
      opacity: 0.5;
      z-index: -1;
    }
    &::before {
      max-width: 1110px;
      top: -15px;
      left: 15px;
    }
    &::after {
      width: 1080px;
      top: -30px;
      left: 30px;
    }
    input {
      color: #676767;
      font-family: Quicksand;
      font-size: 16px;
      font-weight: 400;
      padding: 20px 0 20px 30px;
      border: 1px solid #dcdcdc;
      border-radius: 4px 0 0 4px;
      margin: 40px 0 40px 40px;
      max-width: 613px;
      width: 100%;
      &::placeholder {
        color: #676767;
        font-family: Quicksand;
        font-size: 16px;
        font-weight: 400;
      }
    }

    button {
      color: #ffffff;
      font-family: Quicksand;
      font-size: 16px;
      font-weight: 400;
      border: none;
      background-color: #0674ec;
      border-radius: 4px;
      height: 55px;
      padding: 0 67px;
      margin-left: 24px;
      cursor: pointer;
    }

    .jq-selectbox__select {
      position: relative;
      top: 3px;
      left: -4px;
      border: 1px solid #dcdcdc;
      border-radius: 0 4px 4px 0;
      border-left: none;
      padding: 20px 70px 20px 20px;
      &::after {
        content: "";
        position: absolute;
        top: 25px;
        right: 20px;
        background-image: url(../img/icon/chevron-down.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 13px;
        height: 8px;
      }
    }

    .jq-selectbox__select.opened {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 25px;
        right: 20px;
        background-image: url(../img/icon/chevron-down.png);
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(180deg);
        background-size: cover;
        width: 13px;
        height: 8px;
      }
    }

    .jq-selectbox__select-text {
      /* position: relative; */
      color: #555555;
      font-family: Quicksand;
      font-size: 16px;
      font-weight: 400;
    }
    .jq-selectbox__dropdown {
      position: absolute;
      top: 63px;
      left: -5px;
      cursor: pointer;
      box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
      border-radius: 0 0 3px 3px;
      background-color: #ffffff;
      border-top: 1px solid $blue;
      transition: all 0.4s;
      color: #676767;
      font-family: "Linearicons - Free";
      font-size: 16px;
      font-weight: 400;
      line-height: 42px;
      width: 230px;
      & li {
        padding: 0 20px;
      }
      & li:hover {
        color: white;
        background-color: $blue;
      }
    }
  }

  // .services__column

  &__column {
    padding: 0 20px;
  }

  // .services__item

  &__item {
    padding: 45px 23px;
    text-align: center;
    &:hover {
      border-radius: 4px;
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    }
  }

  // .services__img

  &__img {
    width: 112px;
    height: 112px;
    margin: 0 auto;
    margin-bottom: 35px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  // .services__title

  &__title {
    color: #010101;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  // .services__text

  &__text {
    color: #555555;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
}

//FEATURE==================================================================================================

.feature {
  background-color: #eff1f5;
  padding: 120px 0;
  // .feature__title

  &__title {
  }

  .slick-arrow {
    position: absolute;
    display: inline-block;
    border: none;
    background-color: transparent;
    color: transparent;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #7347c1;
    padding: 24px 30px;
    width: 8px;
    height: 14px;
    cursor: pointer;
  }

  .slick-prev {
    background-image: url(../img/icon/chevron-left.png);
    right: 90px;
    border-radius: 23px 0 0 23px;
  }

  .slick-next {
    background-image: url(../img/icon/chevron-right.png);
    right: 30px;
    border-radius: 0 23px 23px 0;
  }
}

.title {
  position: relative;
  color: #000000;
  font-family: Quicksand;
  font-size: 30px;
  font-weight: 400;
  padding: 40px 29px;
  background-color: white;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
}

.slider-feature {
  // .slider-feature__item

  &__item {
    display: flex;
    min-height: 450px;
  }

  // .slider-feature__img

  &__img {
    width: 49%;
    img {
      height: 100%;
    }
  }

  // .slider-feature__info

  &__info {
    width: 51%;
    background-color: white;
    padding: 0 46px;
    display: flex;
    flex-direction: column;
  }

  // .slider-feature__top-info

  &__top-info {
    flex: 1 1 auto;
  }

  // .slider-feature__title

  &__title {
    display: inline-block;
    color: #000000;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 500;
    margin-top: 46px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  // .slider-feature__link

  &__link {
    margin-bottom: 26px;
  }

  // .slider-feature__name

  &__name {
    position: relative;
    color: #000000;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 400;
    padding-left: 39px;
    margin-right: 16px;
    img {
      position: absolute;
      top: -5px;
      left: 0;
      width: 30px;
      height: 30px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
  }

  // .slider-feature__cms

  &__cms {
    position: relative;
    color: #7347c1;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 25px;
    img {
      position: absolute;
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
    }
  }

  // .slider-feature__text

  &__text {
    color: #555555;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
  }

  // .slider-feature__category

  &__category {
    margin-top: 39px;
    a {
      color: #868c96;
      font-family: Quicksand;
      font-size: 15px;
      font-weight: 400;
      border-radius: 14px;
      background-color: #f1f3f6;
      height: 28px;
      border-radius: 14px;
      background-color: #f1f3f6;
      padding: 5px 15px;
      margin-right: 5px;
    }
  }

  // .slider-feature__bottom-info

  &__bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-top: 1px solid #ececec;
  }

  // .slider-feature__price

  &__price {
    display: inline-block;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 500;
    border-radius: 16px;
    background-color: $blue;
    padding: 9px 19px;
  }

  // .slider-feature__notification

  &__notification {
    .lnr {
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      margin-right: 10px;
    }
  }

  // .slider-feature__heart

  &__cart,
  &__heart {
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 400;
  }

  &__heart {
    color: #555555;
    margin-right: 20px;
  }
  .lnr-heart {
    color: #7347c1;
  }
  // .slider-feature__cart

  &__cart {
    color: $blue;
  }
  .lnr-cart {
    color: $blue;
  }

  // .slider-feature__reviews

  &__reviews {
  }
}
.ibg {
}
//PRODUCTS===================================================================================================
.products {
  background-color: $bgcolor;
  padding: 120px 0;
  // .products__title

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 30px;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    background-color: white;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  // .products__text

  &__text {
    color: #000000;
    font-family: Quicksand;
    font-size: 30px;
    font-weight: 500;
    line-height: 28px;
  }

  // .products__filter

  &__filter {
    position: relative;
    color: #747b86;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    padding-right: 30px;
    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 20px;
      top: 0;
      right: 0;
      background-image: url(../img/icon/three__dots.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.filter {
  // .filter__product

  &__product {
    cursor: pointer;
  }

  // .filter__product-list

  &__product-list {
    position: absolute;
    top: 71px;
    right: -30px;
    cursor: pointer;
    box-shadow: 0 5px 40px rgba(82, 85, 90, 0.2);
    border-radius: 0 0 3px 3px;
    background-color: #ffffff;
    border-top: 1px solid $blue;
    transition: all 0.4s;
    width: 230px;
    display: none;
    li:hover {
      background-color: $blue;
    }
  }

  &__product-list.active {
    display: block;
  }

  // .filter__product-link

  &__product-link {
    color: #676767;
    font-family: "Linearicons - Free";
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    padding: 12px 117px 12px 20px;
    &:hover {
      background-color: $blue;
      color: white;
    }
  }
}

.products {
  // .products__category

  &__category {
    display: flex;
    align-items: center;
    height: 92px;
    padding: 25px 39px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
    border-radius: 4px;
    margin-bottom: 51px;
  }

  // .products__list

  &__list {
    display: flex;
    align-items: center;
    button {
      color: #747b86;
      font-family: Quicksand;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
      border-radius: 16px;
      background-color: #f1f3f6;
      padding: 0 20px;
      margin-right: 8px;
      border: none;
      &:hover {
        color: #ffffff;
        font-family: Quicksand;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        border-radius: 16px;
        padding: 0 20px;
        background-color: #0674ec;
        margin-right: 8px;
      }
    }
  }
}

.products {
  // .products__inner

  &__inner {
  }
}
.inner {
  // .inner__products

  &__products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
  }

  // .inner__products-column

  &__products-column {
    padding: 0 14px;
  }

  // .inner__products-item

  &__products-item {
    max-width: 361px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-bottom: 30px;
  }

  // .inner__products-img

  &__products-img {
    min-height: 230px;
    height: 100%;
    &:hover {
      .inner__products-img-buttons {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__products-img-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 16px;
    width: 300px;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    a {
      color: #ffffff;
      font-family: Quicksand;
      font-size: 15px;
      font-weight: 500;
      line-height: 72px;
      margin-right: 11px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
      border-radius: 23px;
      border: 1px solid #f4f4f4;
      padding: 12px 27px;
      transition: all 0.3s;
      mix-blend-mode: multiply;
      &:hover {
        background-color: white;
        color: $blue;
      }
    }
  }

  // .inner__products-top-info

  &__products-top-info {
    padding: 16px 30px;
  }

  // .inner__products-title

  &__products-title {
    color: #000000;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 17px;
    padding-top: 30px;
  }

  // .inner__products-link

  &__products-link {
    margin-bottom: 33px;
  }

  // .inner__products-name

  &__products-name {
    position: relative;
    color: #000000;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 400;
    padding-left: 35px;
    margin-right: 20px;
    img {
      position: absolute;
      top: -6px;
      left: 0;
    }
  }

  // .inner__products-cms

  &__products-cms {
    position: relative;
    color: #7347c1;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 400;
    padding-left: 25px;
    img {
      position: absolute;
      top: 1px;
      left: 0;
    }
  }

  // .inner__products-text

  &__products-text {
    color: #555555;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }

  // .inner__products-bottom-info

  &__products-bottom-info {
    display: flex;
    align-items: center;
    padding: 16px 30px;
    border-top: 1px solid #ececec;
  }

  // .inner__products-price

  &__products-price {
    color: #0674ec;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
    background-color: rgba(6, 117, 236, 0.1);
    padding: 8px 18px;
    margin-right: 14px;
  }

  // .inner__products-heart

  &__products-heart {
    color: #6f7d8d;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 400;
    margin-right: 15px;
    .lnr-heart {
      color: #7f4ec2;
      font-size: 15px;
      font-weight: 400;
      margin-right: 6px;
    }
  }

  // .inner__products-cart

  &__products-cart {
    color: $blue;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 400;
    margin-left: auto;
    .lnr-cart {
      color: $blue;
      font-size: 15px;
      font-weight: 400;
      margin-right: 10px;
    }
  }
}

.inner__products-all {
  color: #ffffff;
  font-family: Quicksand;
  display: flex;
  justify-content: center;
  width: 220px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  background-color: $blue;
  padding: 19px 33px;
  margin-top: 60px;
  &:hover {
    background-color: #2b89ee;
  }
}

//Followers=================================================================================================
.followers {
  padding: 120px 0;
  background-color: #eff1f5;
  // .followers__title

  .slick-arrow {
    position: absolute;
    display: inline-block;
    border: none;
    background-color: transparent;
    color: transparent;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0674ec;
    padding: 24px 30px;
    width: 8px;
    height: 14px;
    cursor: pointer;
  }

  .slick-prev {
    background-image: url(../img/icon/chevron-left.png);
    right: 90px;
    border-radius: 23px 0 0 23px;
  }

  .slick-next {
    background-image: url(../img/icon/chevron-right.png);
    right: 30px;
    border-radius: 0 23px 23px 0;
  }
}

//Counter====================================================================================================
.counter {
  padding: 100px 0;
  background-color: rgba(13, 15, 19, 0.8);

  // .counter__inner

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  // .counter__column

  &__column {
    width: 150px;
  }

  // .counter__item

  &__item {
    text-align: center;
  }

  // .counter__img

  &__img {
    margin-bottom: 52px;
  }

  // .counter__number

  &__number {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 36px;
  }
  &-yellow {
    color: #feb71d;
  }
  &-blue {
    color: #58c9e9;
  }
  &-green {
    color: #77de51;
  }
  &-red {
    color: #ff6a6d;
  }
  .lnr {
    font-size: 48px;
    font-weight: 400;
  }
  .lnr-briefcase {
    color: #feb71d;
  }
  .lnr-cloud-download {
    color: #58c9e9;
  }
  .lnr-smile {
    color: #77de51;
  }
  .lnr-users {
    color: #ff6a6d;
  }

  // .counter__text

  &__text {
    color: #ffffff;
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
  }
}

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
