@import "vars";
@import "fonts";
@import "global";

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------
//HEADER
//=============================================================================================================
//HEADER=======================================================================================================
@import "header";
//MARKETPLACE==================================================================================================
.marketplace {
  margin-bottom: 186px;
}
.marketplace__inner {
  max-height: 726px;
  height: 100%;
}

.marketplace__img {
  position: relative;
  height: 726px;
}
.marketplace__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.marketplace__title {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #f3f3f8;
  font-family: Quicksand;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 38px;
  span {
    display: block;
    font-family: "Quicksand";
    font-weight: 700;
  }
}
.marketplace__text {
  color: #f3f3f8;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 68px;
}
.marketplace__buttons {
  a {
    display: inline-block;
    color: #ffffff;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    border: 1px solid #ffffff;
    padding: 0 32px;
    transition: all 0.3s;
    margin-left: 25px;
    &:hover {
      background-color: white;
      color: $blue;
    }
  }
}

//SERVICES==================================================================================================
.services {
  // .services__inner

  &__inner {
    display: flex;
    justify-content: center;
    margin: 0 -20px;
  }

  // .services__seartch

  &__seartch {
  }

  // .services__column

  &__column {
    padding: 0 20px;
  }

  // .services__item

  &__item {
    padding:45px 23px;
    text-align: center;
    &:hover{
      border-radius: 4px;
      box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    }
  }

  // .services__img

  &__img {
    width: 112px;
    height: 112px;
    margin: 0 auto;
    margin-bottom: 35px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  // .services__title

  &__title {
    color: #010101;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  // .services__text

  &__text {
    color: #555555;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
  }
}


//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
